html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: none;
  }
  body { margin: 0; font-size: 14px; line-height: 1.61; font-weight: 400; }
  body, button, input, select, textarea { font-family: 'Open Sans', sans-serif; color: #333; }
  
  a { color: #12C; }
  a:visited { color: #61C; }
  a:focus { outline: thin dotted; }
  a:hover, a:active { color: #c00; outline: 0; }
  
  b, strong { font-weight: bold; }
  img { border: 0; max-width: 100%; }
  
  body { background: #fff; }
  header, footer, .container { max-width: 45em; margin: 0 auto; }
  
  header { padding: 0 0.5em; color: #C90B0B; }
  header h1 { text-align: center; }
  header img { border-radius: 40px; float: left; }
  header p { font-size:1.5em; font-weight: bold; margin-left: 1em;}
  header p span { font-size: 0.8em; font-weight: normal;}
  header .profile {align-items: center; display: flex; margin-left: 1em;}
  
  .hero { padding: 2em; background-color: #f8f8f8; font-size:1.2em;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  
  .content { padding: 1em 1em; }
  .content__element { align-items: center; display: flex; font-size: 1.1em; margin-bottom: 2em;}
  .content__element picture { max-width: max-content; width: 100%; }
  .content__element p { font-size: 0.9em; font-style: italic; }
  .content__element-description { margin-left: 1em; }
  
  footer {
    padding: 0 0.5em;
    border-top: 1px solid #ccc;
  }
  footer span { float: right; font-style: italic; }
  
  /* Smartphones (portrait) */
  @media only screen and (max-width: 480px) {
    body { font-size: 12px;}
    .content__element { flex-direction: column;}
    .content__element-description { margin: 0; text-align: center;}
  }

/* FONTS */
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
