* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: black;
  color: white;
}

@media only screen and (max-width: 1023px) {
  #menu {
    text-align: center;
  }
}

input {
  background: grey;
  font-size: 18px;
  height: 48px;
  margin: 0 12px 12px 0;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}

.mover {
  height: 100px;
  position: fixed;
  z-index: -1;
}

.description-img-container {
  padding-top: 67.4%;
}

.img-responsive.description-img {
  left: 0;
  padding: 15px;
  position: absolute;
  top: -15px;
}

#randomPizzas {
  display: flex;
  flex-wrap: wrap;
}

.randomPizzaContainer {
  display: flex;
  transition: opacity 1s ease;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.randomPizzaContainer div:first-child {
  width: 35%;
}

.randomPizzaContainer div:last-child {
  width: 65%;
}

@media only screen and (min-width: 600px) {
  .description-img-container {
    padding-top: 71.1%;
  }
  .randomPizzaContainer {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .description-img-container {
    padding-top: 72.1%;
  }
  .randomPizzaContainer {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .description-img-container {
    padding-top: 0%;
  }
}

@media only screen and (min-width: 1024px) {
  .description-img-container {
    padding-top: 23.1%;
  }
  .randomPizzaContainer {
    width: 33.33%;
  }
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}

 .container {
  background-color: rgba(195, 0, 14, 0.8);
}

footer {
  opacity: 0;
  text-align: center;
  transition: opacity 1s ease;
}

img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
